@font-face {
	font-family: "LatoRegular";
	src: 	url("../fonts/LatoRegular/LatoRegular.woff2") format("woff2"), 
				url("../fonts/LatoRegular/LatoRegular.woff") format("woff"); // IE 9+
	font-weight: normal;		
	font-style: normal;
}

@font-face {
	font-family: "MontserratLight";
	src: 	url("../fonts/MontserratLight/MontserratLight.woff2") format("woff2"), 
				url("../fonts/MontserratLight/MontserratLight.woff") format("woff");
	font-weight: normal;	
	font-style: normal;
}

@font-face {
	font-family: "MontserratRegular";
	src: 	url("../fonts/MontserratRegular/MontserratRegular.woff2") format("woff2"), 
				url("../fonts/MontserratRegular/MontserratRegular.woff") format("woff");
	font-weight: normal;	
	font-style: normal;
}

@font-face {
	font-family: "MontserratBold";
	src: 	url("../fonts/MontserratBold/MontserratBold.woff2") format("woff2"), 
				url("../fonts/MontserratBold/MontserratBold.woff") format("woff");
	font-weight: normal;	
	font-style: normal;
}

@font-face {
	font-family: "MontserratBlack";
	src: 	url("../fonts/MontserratBlack/MontserratBlack.woff2") format("woff2"), 
				url("../fonts/MontserratBlack/MontserratBlack.woff") format("woff");
	font-weight: normal;	
	font-style: normal;
}