.btn {
	display: block;
	min-width: 180px;
	margin: 0;
	padding: 16px 25px;

	font-family: "MontserratRegular", Arial, sans-serif;
	text-align: center;
	white-space: nowrap;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5;
	text-decoration: none;
	text-transform: uppercase;
	color: #444444;

	border: 1px solid #444444;
	background-color: inherit;

	outline: none;
	cursor: pointer;
	box-sizing: border-box;

	&:disabled {
		cursor: none;
	}
}