// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$alarm-name: 'alarm';
$alarm-x: 50px;
$alarm-y: 0px;
$alarm-offset-x: -50px;
$alarm-offset-y: 0px;
$alarm-width: 50px;
$alarm-height: 50px;
$alarm-total-width: 300px;
$alarm-total-height: 250px;
$alarm-image: 'sprite.png';
$alarm: (50px, 0px, -50px, 0px, 50px, 50px, 300px, 250px, 'sprite.png', 'alarm', );
$all-name: 'all';
$all-x: 50px;
$all-y: 150px;
$all-offset-x: -50px;
$all-offset-y: -150px;
$all-width: 50px;
$all-height: 50px;
$all-total-width: 300px;
$all-total-height: 250px;
$all-image: 'sprite.png';
$all: (50px, 150px, -50px, -150px, 50px, 50px, 300px, 250px, 'sprite.png', 'all', );
$apple-name: 'apple';
$apple-x: 0px;
$apple-y: 50px;
$apple-offset-x: 0px;
$apple-offset-y: -50px;
$apple-width: 50px;
$apple-height: 50px;
$apple-total-width: 300px;
$apple-total-height: 250px;
$apple-image: 'sprite.png';
$apple: (0px, 50px, 0px, -50px, 50px, 50px, 300px, 250px, 'sprite.png', 'apple', );
$bell-name: 'bell';
$bell-x: 50px;
$bell-y: 50px;
$bell-offset-x: -50px;
$bell-offset-y: -50px;
$bell-width: 50px;
$bell-height: 50px;
$bell-total-width: 300px;
$bell-total-height: 250px;
$bell-image: 'sprite.png';
$bell: (50px, 50px, -50px, -50px, 50px, 50px, 300px, 250px, 'sprite.png', 'bell', );
$camera-name: 'camera';
$camera-x: 100px;
$camera-y: 0px;
$camera-offset-x: -100px;
$camera-offset-y: 0px;
$camera-width: 50px;
$camera-height: 50px;
$camera-total-width: 300px;
$camera-total-height: 250px;
$camera-image: 'sprite.png';
$camera: (100px, 0px, -100px, 0px, 50px, 50px, 300px, 250px, 'sprite.png', 'camera', );
$down-name: 'down';
$down-x: 100px;
$down-y: 50px;
$down-offset-x: -100px;
$down-offset-y: -50px;
$down-width: 50px;
$down-height: 50px;
$down-total-width: 300px;
$down-total-height: 250px;
$down-image: 'sprite.png';
$down: (100px, 50px, -100px, -50px, 50px, 50px, 300px, 250px, 'sprite.png', 'down', );
$eye-name: 'eye';
$eye-x: 0px;
$eye-y: 100px;
$eye-offset-x: 0px;
$eye-offset-y: -100px;
$eye-width: 50px;
$eye-height: 50px;
$eye-total-width: 300px;
$eye-total-height: 250px;
$eye-image: 'sprite.png';
$eye: (0px, 100px, 0px, -100px, 50px, 50px, 300px, 250px, 'sprite.png', 'eye', );
$facebook-name: 'facebook';
$facebook-x: 50px;
$facebook-y: 100px;
$facebook-offset-x: -50px;
$facebook-offset-y: -100px;
$facebook-width: 50px;
$facebook-height: 50px;
$facebook-total-width: 300px;
$facebook-total-height: 250px;
$facebook-image: 'sprite.png';
$facebook: (50px, 100px, -50px, -100px, 50px, 50px, 300px, 250px, 'sprite.png', 'facebook', );
$folder-name: 'folder';
$folder-x: 100px;
$folder-y: 100px;
$folder-offset-x: -100px;
$folder-offset-y: -100px;
$folder-width: 50px;
$folder-height: 50px;
$folder-total-width: 300px;
$folder-total-height: 250px;
$folder-image: 'sprite.png';
$folder: (100px, 100px, -100px, -100px, 50px, 50px, 300px, 250px, 'sprite.png', 'folder', );
$idea-name: 'idea';
$idea-x: 150px;
$idea-y: 0px;
$idea-offset-x: -150px;
$idea-offset-y: 0px;
$idea-width: 50px;
$idea-height: 50px;
$idea-total-width: 300px;
$idea-total-height: 250px;
$idea-image: 'sprite.png';
$idea: (150px, 0px, -150px, 0px, 50px, 50px, 300px, 250px, 'sprite.png', 'idea', );
$laptop-name: 'laptop';
$laptop-x: 150px;
$laptop-y: 50px;
$laptop-offset-x: -150px;
$laptop-offset-y: -50px;
$laptop-width: 50px;
$laptop-height: 50px;
$laptop-total-width: 300px;
$laptop-total-height: 250px;
$laptop-image: 'sprite.png';
$laptop: (150px, 50px, -150px, -50px, 50px, 50px, 300px, 250px, 'sprite.png', 'laptop', );
$link-name: 'link';
$link-x: 150px;
$link-y: 100px;
$link-offset-x: -150px;
$link-offset-y: -100px;
$link-width: 50px;
$link-height: 50px;
$link-total-width: 300px;
$link-total-height: 250px;
$link-image: 'sprite.png';
$link: (150px, 100px, -150px, -100px, 50px, 50px, 300px, 250px, 'sprite.png', 'link', );
$linkedin-name: 'linkedin';
$linkedin-x: 0px;
$linkedin-y: 150px;
$linkedin-offset-x: 0px;
$linkedin-offset-y: -150px;
$linkedin-width: 50px;
$linkedin-height: 50px;
$linkedin-total-width: 300px;
$linkedin-total-height: 250px;
$linkedin-image: 'sprite.png';
$linkedin: (0px, 150px, 0px, -150px, 50px, 50px, 300px, 250px, 'sprite.png', 'linkedin', );
$lock-name: 'lock';
$lock-x: 0px;
$lock-y: 0px;
$lock-offset-x: 0px;
$lock-offset-y: 0px;
$lock-width: 50px;
$lock-height: 50px;
$lock-total-width: 300px;
$lock-total-height: 250px;
$lock-image: 'sprite.png';
$lock: (0px, 0px, 0px, 0px, 50px, 50px, 300px, 250px, 'sprite.png', 'lock', );
$map-name: 'map';
$map-x: 100px;
$map-y: 150px;
$map-offset-x: -100px;
$map-offset-y: -150px;
$map-width: 50px;
$map-height: 50px;
$map-total-width: 300px;
$map-total-height: 250px;
$map-image: 'sprite.png';
$map: (100px, 150px, -100px, -150px, 50px, 50px, 300px, 250px, 'sprite.png', 'map', );
$microphone-name: 'microphone';
$microphone-x: 150px;
$microphone-y: 150px;
$microphone-offset-x: -150px;
$microphone-offset-y: -150px;
$microphone-width: 50px;
$microphone-height: 50px;
$microphone-total-width: 300px;
$microphone-total-height: 250px;
$microphone-image: 'sprite.png';
$microphone: (150px, 150px, -150px, -150px, 50px, 50px, 300px, 250px, 'sprite.png', 'microphone', );
$phone-name: 'phone';
$phone-x: 200px;
$phone-y: 0px;
$phone-offset-x: -200px;
$phone-offset-y: 0px;
$phone-width: 50px;
$phone-height: 50px;
$phone-total-width: 300px;
$phone-total-height: 250px;
$phone-image: 'sprite.png';
$phone: (200px, 0px, -200px, 0px, 50px, 50px, 300px, 250px, 'sprite.png', 'phone', );
$photo-camera-name: 'photo-camera';
$photo-camera-x: 200px;
$photo-camera-y: 50px;
$photo-camera-offset-x: -200px;
$photo-camera-offset-y: -50px;
$photo-camera-width: 50px;
$photo-camera-height: 50px;
$photo-camera-total-width: 300px;
$photo-camera-total-height: 250px;
$photo-camera-image: 'sprite.png';
$photo-camera: (200px, 50px, -200px, -50px, 50px, 50px, 300px, 250px, 'sprite.png', 'photo-camera', );
$pinterest-name: 'pinterest';
$pinterest-x: 200px;
$pinterest-y: 100px;
$pinterest-offset-x: -200px;
$pinterest-offset-y: -100px;
$pinterest-width: 50px;
$pinterest-height: 50px;
$pinterest-total-width: 300px;
$pinterest-total-height: 250px;
$pinterest-image: 'sprite.png';
$pinterest: (200px, 100px, -200px, -100px, 50px, 50px, 300px, 250px, 'sprite.png', 'pinterest', );
$search-name: 'search';
$search-x: 200px;
$search-y: 150px;
$search-offset-x: -200px;
$search-offset-y: -150px;
$search-width: 50px;
$search-height: 50px;
$search-total-width: 300px;
$search-total-height: 250px;
$search-image: 'sprite.png';
$search: (200px, 150px, -200px, -150px, 50px, 50px, 300px, 250px, 'sprite.png', 'search', );
$send-name: 'send';
$send-x: 0px;
$send-y: 200px;
$send-offset-x: 0px;
$send-offset-y: -200px;
$send-width: 50px;
$send-height: 50px;
$send-total-width: 300px;
$send-total-height: 250px;
$send-image: 'sprite.png';
$send: (0px, 200px, 0px, -200px, 50px, 50px, 300px, 250px, 'sprite.png', 'send', );
$settings-large-name: 'settings-large';
$settings-large-x: 50px;
$settings-large-y: 200px;
$settings-large-offset-x: -50px;
$settings-large-offset-y: -200px;
$settings-large-width: 50px;
$settings-large-height: 50px;
$settings-large-total-width: 300px;
$settings-large-total-height: 250px;
$settings-large-image: 'sprite.png';
$settings-large: (50px, 200px, -50px, -200px, 50px, 50px, 300px, 250px, 'sprite.png', 'settings-large', );
$settings-name: 'settings';
$settings-x: 100px;
$settings-y: 200px;
$settings-offset-x: -100px;
$settings-offset-y: -200px;
$settings-width: 50px;
$settings-height: 50px;
$settings-total-width: 300px;
$settings-total-height: 250px;
$settings-image: 'sprite.png';
$settings: (100px, 200px, -100px, -200px, 50px, 50px, 300px, 250px, 'sprite.png', 'settings', );
$skype-name: 'skype';
$skype-x: 150px;
$skype-y: 200px;
$skype-offset-x: -150px;
$skype-offset-y: -200px;
$skype-width: 50px;
$skype-height: 50px;
$skype-total-width: 300px;
$skype-total-height: 250px;
$skype-image: 'sprite.png';
$skype: (150px, 200px, -150px, -200px, 50px, 50px, 300px, 250px, 'sprite.png', 'skype', );
$star-name: 'star';
$star-x: 200px;
$star-y: 200px;
$star-offset-x: -200px;
$star-offset-y: -200px;
$star-width: 50px;
$star-height: 50px;
$star-total-width: 300px;
$star-total-height: 250px;
$star-image: 'sprite.png';
$star: (200px, 200px, -200px, -200px, 50px, 50px, 300px, 250px, 'sprite.png', 'star', );
$twitter-name: 'twitter';
$twitter-x: 250px;
$twitter-y: 0px;
$twitter-offset-x: -250px;
$twitter-offset-y: 0px;
$twitter-width: 50px;
$twitter-height: 50px;
$twitter-total-width: 300px;
$twitter-total-height: 250px;
$twitter-image: 'sprite.png';
$twitter: (250px, 0px, -250px, 0px, 50px, 50px, 300px, 250px, 'sprite.png', 'twitter', );
$spritesheet-width: 300px;
$spritesheet-height: 250px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($alarm, $all, $apple, $bell, $camera, $down, $eye, $facebook, $folder, $idea, $laptop, $link, $linkedin, $lock, $map, $microphone, $phone, $photo-camera, $pinterest, $search, $send, $settings-large, $settings, $skype, $star, $twitter, );
$spritesheet: (300px, 250px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>


@mixin sprite-width($sprite, $divide) {
  width: round(nth($sprite, 5) * $divide);
}

@mixin sprite-height($sprite, $divide) {
  height: round(nth($sprite, 6) * $divide);
}

@mixin sprite-position($sprite, $divide) {
  $sprite-offset-x: round(nth($sprite, 3) * $divide);
  $sprite-offset-y: round(nth($sprite, 4) * $divide);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) { 
  $sprite-image: nth($sprite, 9);
  background-image: url(../img/general/#{$sprite-image});
}

@mixin sprite($sprite, $currentNumber) {
  $divide: $currentNumber / $spritesheet-width;
  @include sprite-image($sprite);
  @include sprite-position($sprite, $divide);
  @include sprite-width($sprite, $divide);
  @include sprite-height($sprite, $divide);
  background-size: $currentNumber;
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
// @mixin sprites($sprites) {
//   @each $sprite in $sprites {
//     $sprite-name: nth($sprite, 10);
//     .#{$sprite-name} {
//       @include sprite($sprite);
//     }
//   }
// }