.block-call-action {
	background-color: #212121;
	background: url(../img/general/block-call-action.jpg) no-repeat; 
}

.block-call-action__wrapper {
	@include container-fluid();

	padding-top: 100px;
	padding-bottom: 100px;
}

.block-call-action__title {
	margin: 0;
	margin-bottom: 3px;
	padding: 0;

	font-family: "MontserratBold", Arial, sans-serif;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.4;
	color: #fff;
}

.block-call-action__slogan {
	display: block;

	margin: 0;
	margin-bottom: 100px;
	padding: 0;

	font-family: "LatoRegular", Arial, sans-serif;
	font-size: 15px;
	text-align: center;
	line-height: 1.5;
	color: #fff;
}

.block-call-action__container--center {
	text-align: center;
}

.block-call-action__btn {
	display: inline-block;
	vertical-align: top;
	min-width: 170px;

	margin-right: 19px;

	font-family: "MontserratRegular", Arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 1.4;
	color: #000;

	background-color: #fff;
	border: 1px solid #fff;

	&:last-child {
		margin-right: 0;
	}

	&:hover {
		color: rgba(0, 0, 0, 0.6);
	}

	&:active {
		color: rgba(0, 0, 0, 0.4);
	}
}

.block-call-action__btn--active {
	color: #000;

	background-color: #FFE400;
	border: 1px solid #FFE400;

	&:hover {
		color: rgba(0, 0, 0, 0.5);

		border: 1px solid #FFE400;
	}

	&:active {
		color: #aaa;
		
		background-color: rgba(255, 228, 0, 0.9);
		border: 1px solid rgba(255, 228, 0, 0.5);
	}
}

@media ("max-width: 480px") {
	.block-call-action {
		background-size: cover;
	}

	.block-call-action__wrapper {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.block-call-action__title {
		margin-bottom: 10px;
	}

	.block-call-action__slogan {
		margin-bottom: 60px;

		font-size: 16px;
	}

	.block-call-action__container--center {
		display: flex;
		flex-direction: column;

		align-items: center;
	}

	.block-call-action__btn {
		width: 200px;
		
		margin-right: 0;
    margin-bottom: 15px;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

@media ("max-width: 320px") {
	.block-call-action__title {
		padding-left: 20px;
		padding-right: 20px;
	}

	.block-call-action__slogan {
		padding-left: 20px;
		padding-right: 20px;
	}
}