.contact {
	background: url(../img/general/contact.png) no-repeat 0% 100%; 
							
	background-size: 100%;
	background-color: #F0F0F0;
}

.contact__wrapper {
	@include container-fluid();

	padding-top: 110px;
	padding-bottom: 125px;
}

.contact__title {
	margin: 0;
	padding: 0;

	text-align: center;
	text-transform: uppercase;
}

.contact__title b {
	display: block;

	margin: 0;
	padding: 0;

	font-family: "MontserratBlack", Arial, sans-serif;
	font-size: 92px;
	line-height: 1;
	color: #E6E6E6;
}

.contact__title span {
	display: block;

	margin: 0;
	margin-top: -48px;
	padding: 0;

	font-family: "MontserratBold", Arial, sans-serif;
	font-size: 30px;
	line-height: 1.4;
	color: #444444;
}

.contact__form {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	margin-top: 160px;
	padding: 0;
}

.contact__input,
.contact__textarea {
	width: 49.299%;

	margin: 0;
	margin-right: 16px;
	margin-bottom: 21px;
	padding: 20px 20px 18px 20px;

	font-family: "LatoRegular", Arial, sans-serif;
	font-size: 16px;
	text-align: left;
	line-height: 1.4;
	color: #808080;

	background-color: #fff;
	border: 1px solid #DEDEDE;
	box-sizing: border-box;

	&:nth-child(2n) {
		margin-right: 0;
	}

	&:hover {
		border: 1px solid #ccc;
	}

	&:active,
	&:focus {
		outline: 0;
		border-color: #999999;
	}

	@include placeholder() {
		color: rgba(128, 128, 128, 0.5);
	}
}

.contact__textarea {
	width: 100%;
	min-height: 500px;

	margin-right: 0;
}

.contact__btn {
	min-width: auto;

	margin-right: 21px;
	padding: 17px 50px 16px 45px;

	font-family: "MontserratRegular", Arial, sans-serif;
	font-size: 17px;
	text-transform: uppercase;
	line-height: 1.5;
	color: #000;

	background-color: #FFE400;
	border: 1px solid #DEDEDE;

	&:hover {
		color: rgba(0, 0, 0, 0.5);

		border: 1px solid #FFE400;
	}

	&:active {
		color: #aaa;

		background-color: rgba(255, 228, 0, 0.7);
		border: 1px solid rgba(255, 228, 0, 0.7);
	}
}

@media ($desktop-widths) {
	.contact__input {
		margin-right: 13px;
	}
}

@media ("max-width: 1024px") {
	.contact__form {
		justify-content: space-between;
	}

	.contact__input {
		width: 49%;
		margin-right: 0;
	}
}

@media ($tablet-widths) {
	.contact__form {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media ("max-width: 480px") {
	.contact__wrapper {
		padding-top: 60px;
		padding-bottom: 85px;
	}

	.contact__title b {
		font-size: 72px;
	}

	.contact__title span {
		margin-top: -41px;

		font-size: 28px;
	}

	.contact__form {
		margin-top: 50px;
	}

	.contact__input {
		width: 100%;

		margin-bottom: 10px;
		padding: 15px 15px 13px;
	}

	.contact__textarea {
		min-height: 200px;
	}
}

@media ($mobile-widths) {
	.contact__wrapper {
		padding-top: 50px;
		padding-bottom: 70px;
	}

	.contact__title b {
		font-size: 54px;
	}

	.contact__title span {
		margin-top: -35px;

		font-size: 24px;
	}

	.contact__btn {
		width: 100%;
		
		margin-top: 15px;
		margin-right: 0;
		padding: 13px 35px 12px 35px;

		font-size: 16px;
	}
}