.features {
	background-color: $bg-main;
}

.features__wrapper {
	@include container-fluid();

	padding-top: 125px;
	padding-bottom: 100px;
}

.features__title {
	margin: 0;
	padding: 0;

	text-align: center;
	text-transform: uppercase;
}

.features__title b {
	display: block;

	margin: 0;
	padding: 0;

	font-family: "MontserratBlack", Arial, sans-serif;
	font-size: 92px;
	line-height: 1;
	color: #F0F0F0;
}

.features__title span {
	display: block;

	margin: 0;
	margin-top: -55px;
	padding: 0;

	font-family: "MontserratBold", Arial, sans-serif;
	font-size: 36px;
	line-height: 1.4;
	color: #444444;
}

.features__list {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	margin-top: 120px;
	padding: 0;

	list-style: none;
}

.features__item {
	position: relative;

	min-width: 360px;
	width: 31.33%;

	margin-right: 30px;
	margin-bottom: 60px;
	padding: 0;
	padding-left: 90px;

	text-align: left;

	box-sizing: border-box;

	&:nth-child(3n) {
		margin-right: 0;
	}

	&::before {
		content: "";
		position: absolute;
		top: 4px;
		left: 0;
		width: 66px;
		height: 66px;

		border-radius: 50%;
	}

	&::after {
		content: "";
		position: absolute;
		
		background-repeat: no-repeat;
	}
}

.features__item--security::before {
	background-color: #73C8B7;
}


.features__item--security::after {
	@include sprite($lock, 180px);
	top: 21px;
	left: 18px;
}

.features__item--creative::before {
	background-color: #31AAE2;
}

.features__item--creative::after {
	@include sprite($idea, 180px);
	top: 21px;
	left: 18px;
}

.features__item--panel::before {
	background-color: #C183D6;
}

.features__item--panel::after {
	@include sprite($settings, 180px);
	top: 21px;
	left: 18px;
}

.features__item--resolution::before {
	background-color: #EB768C;
}

.features__item--resolution::after {
	@include sprite($microphone, 180px);
	top: 21px;
	left: 18px;
}

.features__item--interface::before {
	background-color: #73C8B7;
}

.features__item--interface::after {
	@include sprite($eye, 180px);
	top: 21px;
	left: 18px;
}

.features__item--builder::before {
	background-color: #31AAE2;
}

.features__item--builder::after {
	@include sprite($send, 170px);
	top: 22px;
	left: 17px;
}

.features__item--responsive::before {
	background-color: #EBD175;
}

.features__item--responsive::after {
	@include sprite($laptop, 180px);
	top: 21px;
	left: 18px;
}

.features__item--blocks::before {
	background-color: #718AC7;
}

.features__item--blocks::after {
	@include sprite($bell, 180px);
	top: 21px;
	left: 18px;
}

.features__item--design::before {
	background-color: #4BE3A4;
}

.features__item--design::after {
	@include sprite($camera, 180px);
	top: 21px;
	left: 18px;
}

.features__headline {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;

	font-family: "MontserratBold", Arial, sans-serif;
	font-size: 17px;
	text-align: left;
	text-transform: uppercase;
	line-height: 1.4;
	color: #444444;
}

.features__text {
	padding: 0;

	font-family: "LatoRegular", Arial, sans-serif;
	font-size: 14px;
	text-align: left;
	line-height: 1.6;
	color: #7E7E7E;
}

@media ($desktop-widths) {
	.features__item {
		width: 31%;
		min-width: auto;
	}
}

@media ("max-width: 1024px") {
	.features__list {
		justify-content: space-between;
	}

	.features__item {
		width: 30%;

		margin-right: 20px;
		padding-left: 85px;
	}

	.features__text {
		font-size: 16px;
	}
}

@media ($tablet-widths) {
	.features__list {
		padding-left: 20px;
		padding-right: 20px;
	}

	.features__item {
		width: 47% !important; 

		margin-bottom: 20px;

		&:nth-child(3n) {
			margin-right: 0;
		}

		&:nth-child(2n) {
			margin-right: 0;
		}
	}
}

@media ("max-width: 480px") {
	.features__wrapper {
		padding-top: 65px;
		padding-bottom: 30px;
	}

	.features__title b {
		font-size: 72px;
	}

	.features__title span {
		margin-top: -41px;

		font-size: 28px;
	}

	.features__list {
		margin-top: 55px;
	}
}

@media ($mobile-widths) {
	.features__title b {
		font-size: 54px;
	}

	.features__title span {
		margin-top: -42px;

		font-size: 30px;
	}

	.features__item {
		width: 100% !important;

		margin-right: 0;
	}

	.features__headline {
		margin-bottom: 0;

		font-size: 18px;
	}

	.features__text {
		margin-top: 10px;
	}
}