.main-nav {
	z-index: 1;

	min-height: 79px;

	background-color: #2A2A2A;

	opacity: 1;
}

.main-nav__wrapper {
	display: flex;
	justify-content: space-between;

	@include container-fluid();
}

.main-nav__logo {
	margin-top: 23px;

	cursor: pointer;
}

.main-nav__logo img {
	width: 186px;
	height: 36px;
}

.main-nav__toggle {
	display: none;
}

.main-nav__list {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	text-align: center;

	list-style: none;
}

.main-nav__item {
	display: block;

	padding-top: 28px;
	padding-bottom: 28px;
	padding-right: 60px;

	font-family: "MontserratLight", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;

	transition: all 0.35s;

	&:hover {
		color: #aaa;
	}
}

.main-nav__list li {
	&:last-child a {
		padding-right: 0;
	}
}

.main-nav__item--active {
	color: #FFE400;
}

@media ("max-width: 1024px") {
	.main-nav {
		min-height: 76px;
	}

	.main-nav__logo {
		margin-top: 19px;
	}

	.main-nav__item {
		padding-right: 42px;

		font-size: 12px;
	}
}

@media ($tablet-widths) {
	.main-nav__logo {
		padding-left: 20px;
	}

	.main-nav--closed .main-nav__container {
		display: none;
	}

	.main-nav--opened .main-nav__container {
		position: fixed;
		z-index: 100;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		display: block;

		background-color: #000;
		overflow-x: hidden;
	}
	
	.main-nav__list {
		flex-direction: column;

		margin: 0;
		padding-top: 48px;
	}

	.main-nav__list li {
		margin: 0 auto;
	}

	.main-nav--opened  .main-nav__item {
		margin-bottom: 4px;
		padding: 0;

		font-size: 38px;

		background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #FFF100 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    transition: background-position 0.2s ease-out;

    &:hover {
    	color: #000;

    	background-position: -100% 0;
    }
	}

	.main-nav__toggle {
		display: block;

		z-index: 1000;
		top: 11px;
		right: 16px;
	}
}

@media ("max-width: 480px") {
	.main-nav {
		min-height: 60px;
	}

	.main-nav__logo {
		display: none;
	}

	.main-nav__toggle {
		top: 4px;

		margin-left: auto;
	}

	.main-nav--opened .main-nav__item {
		margin-bottom: 2px;

		font-size: 32px;
	}
}