.menu-sandwich {
	position: relative;
	z-index: 10; 
	width: 40px;
	height: 38px;

	margin: 0;
	padding: 0;
	
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.menu-sandwich__top {
	position: relative;
	top: 0;
	width: 35px;
	height: 4px;

	display: block; 

	background-color: #fff;
	border: none;
	-webkit-border-radius: 4px 4px 4px 4px;
					border-radius: 4px 4px 4px 4px;

	-webkit-transition: top 0.2s, -webkit-transform 0.5s;
	transition: top 0.2s, -webkit-transform 0.5s;
	transition: transform 0.5s, top 0.2s;
	transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
}

.menu-sandwich__middle {
	position: relative;
	width: 35px;
	height: 4px;
	top: 5.6px;

	display: block; 

	background-color: #fff;
	border: none;
	-webkit-border-radius: 4px 4px 4px 4px;
					border-radius: 4px 4px 4px 4px;

	-webkit-transition: top 0.2s, -webkit-transform 0.5s;
	transition: top 0.2s, -webkit-transform 0.5s;
	transition: transform 0.5s, top 0.2s;
	transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
	-webkit-transition-delay: 0.2s, 0s;
					transition-delay: 0.2s, 0s; 
}

.menu-sandwich__bottom {
	position: relative;
	width: 35px;
	height: 4px;
	top: 11.5px;

	display: block; 

	background-color: #fff;
	border: none;
	-webkit-border-radius: 4px 4px 4px 4px;
					border-radius: 4px 4px 4px 4px;

	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transition-delay: 0.1s;
					transition-delay: 0.1s; 
}

.main-nav--opened .menu-sandwich__top {
	top: 10px;
	
	-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
					transform: rotate(-45deg); 
}

.main-nav--opened .menu-sandwich__middle {
	top: 6px;

	-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
					transform: rotate(45deg); 
}

.main-nav--opened .menu-sandwich__bottom {
	top: 0;
	opacity: 0;
}