.page-header {
	position: relative;

	padding-top: 1px;
}

.page-header__wrapper {
	@include container-fluid();

	position: relative;
	z-index: 30;

	padding-top: 12vw;
}

.page-header__title {
	max-width: 66.66%;

	margin: 0;
	margin-bottom: 40px;
	padding: 0;

	font-family: "MontserratBlack", Arial, sans-serif;
	text-align: left;
	text-transform: uppercase;
	font-size: 60px;
	line-height: 1.25;
}

.page-header__info {
	max-width: 66.66%;

	margin-bottom: 18px;

	font-family: "LatoRegular", Arial, sans-serif;
	text-align: left;
	font-weight: normal;
	line-height: 1.8;
}

.page-header__btn {
	width: 180px;

	margin-bottom: 40px;

	&:hover {
		color: #000;

		background-color: #FFE400;
		border: 1px solid #FFE400;
	}

	&:active {
		color: #aaa;

		background-color: rgba(255, 228, 0, 0.7);
		border: 1px solid rgba(255, 228, 0, 0.7);
	}
}

.page-header__slider {
	height: 100vh;
}

.page-header__slide-item:nth-of-type(1) {
	background: url(../img/general/page-header-1.png) no-repeat 105% 0%, 
							url(../img/general/page-header-2.png) no-repeat 100% 22%,
							url(../img/general/page-header-3.png) no-repeat 63% 95%,
							url(../img/general/page-header-4.png) no-repeat 8% 32%;
	background-size: 41%, 30%, 10%, 12%;
	background-color: #FBFBFB;
}

.page-header__slide-item:nth-of-type(2) {
	background: #fffc00;
  background: -webkit-linear-gradient(to right, #ffffff, #fffc00);
  background: linear-gradient(to right, #ffffff, #fffc00); 
}

.page-header__slide-item:nth-of-type(3) {
	background: url(../img/general/page-header-1.png) no-repeat 105% 0%, 
							url(../img/general/page-header-2.png) no-repeat 100% 22%,
							url(../img/general/page-header-3.png) no-repeat 63% 95%,
							url(../img/general/page-header-4.png) no-repeat 8% 32%;
	background-size: 41%, 30%, 10%, 12%;
	background-color: #FBFBFB;
}

@media ("max-width: 1024px") {
	.page-header__slide-item:nth-of-type(1) {
		background: url(../img/general/page-header-1.png) no-repeat 105% 100%, 
								url(../img/general/page-header-2.png) no-repeat 100% 22%,
								url(../img/general/page-header-3.png) no-repeat 63% 95%,
								url(../img/general/page-header-4.png) no-repeat 8% 32%;
		background-size: 41%, 30%, 10%, 12%;
		background-color: #FBFBFB;
	}

	.page-header__slide-item:nth-of-type(3) {
		background: url(../img/general/page-header-1.png) no-repeat 105% 100%, 
								url(../img/general/page-header-2.png) no-repeat 100% 22%,
								url(../img/general/page-header-3.png) no-repeat 63% 95%,
								url(../img/general/page-header-4.png) no-repeat 8% 32%;
		background-size: 41%, 30%, 10%, 12%;
		background-color: #FBFBFB;
	}
}

@media ($tablet-widths) {
	.page-header__wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}

	.page-header__slide-item:nth-of-type(1) {
		background: url(../img/general/page-header-1.png) no-repeat 116% 100%, 
								url(../img/general/page-header-2.png) no-repeat 100% 22%,
								url(../img/general/page-header-3.png) no-repeat 63% 95%,
								url(../img/general/page-header-4.png) no-repeat 8% 32%;
		background-size: 41%, 30%, 10%, 12%;
		background-color: #FBFBFB;
	}

	.page-header__slide-item:nth-of-type(3) {
		background: url(../img/general/page-header-1.png) no-repeat 116% 100%, 
								url(../img/general/page-header-2.png) no-repeat 100% 22%,
								url(../img/general/page-header-3.png) no-repeat 63% 95%,
								url(../img/general/page-header-4.png) no-repeat 8% 32%;
		background-size: 41%, 30%, 10%, 12%;
		background-color: #FBFBFB;
	}
}

@media ("max-width: 480px") {
	.page-header__wrapper {
		padding: 0;
		padding-top: 22vw;
	}

	.page-header__title {
		max-width: 100%;

		margin: 0;
		padding-left: 20px;
		padding-right: 20px;

		text-align: center;
		font-size: 50px;
	}

	.page-header__info {
		max-width: 100%;

		margin-bottom: 40px;
		padding-left: 20px;
		padding-right: 20px;
	
		text-align: center;
		font-size: 18px;
	}

	.page-header__btn {
		width: 180px;
		
		margin: 0 auto;
		margin-bottom: 40px;
	}

	.page-header__slider-controls {
		display: none;
	}

	.page-header__slide-item:nth-of-type(1) {
		background: 
								url(../img/general/page-header-2.png) no-repeat 100% 22%,
								url(../img/general/page-header-3.png) no-repeat 63% 95%,
								url(../img/general/page-header-4.png) no-repeat 8% 32%;
		background-size: 30%, 10%, 12%;
		background-color: #FBFBFB;
	}

	.page-header__slide-item:nth-of-type(3) {
		background: 
								url(../img/general/page-header-2.png) no-repeat 100% 22%,
								url(../img/general/page-header-3.png) no-repeat 63% 95%,
								url(../img/general/page-header-4.png) no-repeat 8% 32%;
		background-size: 30%, 10%, 12%;
		background-color: #FBFBFB;
	}
}

@media ($mobile-widths) {
	.page-header__wrapper {
		padding-top: 24vw;
	}

	.page-header__title {
		font-size: 30px;
	}

	.page-header__info {
		margin-top: 38px;

		font-size: 16px;
	}

	.page-header__btn {
		font-size: 14px;
	}
}