.responsive {
	background: url(../img/general/responsive-1.png) no-repeat 3% 0%, 
							url(../img/general/responsive-2.png) no-repeat 94% 62%;

	background-size: 12%, 39%;
	background-color: #FAFAFA;
	border: 1px solid #D6D6D6;
}

.responsive__wrapper {
	@include container-fluid();

	padding-top: 160px;
	padding-bottom: 115px;
}

.responsive__title {
	margin: 0;
	padding: 0;

	text-align: left;
	text-transform: uppercase;
}

.responsive__title b {
	display: block;

	margin: 0;
	padding: 0;

	font-family: "MontserratBlack", Arial, sans-serif;
	font-size: 92px;
	line-height: 1;
	color: #F0F0F0;
}

.responsive__title span {
	display: block;

	margin: 0;
	margin-top: -55px;
	padding: 0;

	font-family: "MontserratBold", Arial, sans-serif;
	font-size: 36px;
	line-height: 1.4;
	color: #444444;
}

.responsive__description {
	max-width: 550px;

	margin-top: 45px;
	margin-bottom: 45px;
	padding: 0;

	font-family: "LatoRegular", Arial, sans-serif;
	font-size: 16px;
	text-align: left;
	line-height: 1.6;
	color: #757575;
}

.responsive__list {
	max-width: 550px;

	margin: 0;
	margin-bottom: 30px;
	padding: 0;

	list-style: none;
}

.responsive__item {
	position: relative;

	margin: 0;
	margin-bottom: 15px;
	padding: 0;
	padding-left: 30px;

	font-family: "LatoRegular", Arial, sans-serif;
	font-size: 16px;
	text-align: left;
	line-height: 1.6;
	color: #757575;

	&:last-child {
		margin-bottom: 0;
	}

	&::before {
		content: "";
		position: absolute;
		top: 4px;
		left: 0;
		@include sprite($star, 100px);

		background-repeat: no-repeat;
	}
}

.responsive__btn {
	min-width: 130px;
	width: 130px;

	padding-left: 20px;
	padding-right: 20px;

	font-family: "MontserratRegular", Arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 1.25;
	color: #000;
	
	background-color: #FFE400;
	border: 1px solid #FFE400;

	&:hover {
		color: rgba(0, 0, 0, 0.5);
	}

	&:active {
		color: #aaa;

		background-color: rgba(255, 228, 0, 0.7);
	}
}

@media ($tablet-widths) {
	.responsive__title {
		padding-left: 20px;
		padding-right: 20px;
	}

	.responsive__description {
		padding-left: 20px;
		padding-right: 20px;
	}

	.responsive__list {
		padding-left: 20px;
		padding-right: 20px;
	}

	.responsive__btn {
		margin-left: 20px;
	}
}

@media ("max-width: 480px") {
	.responsive {
		background: url(../img/general/responsive-1.png) no-repeat 3% 0,url(../img/general/responsive-2.png) no-repeat 100% 100%;
    background-size: 12%, 50%;
	}

	.responsive__wrapper {
		padding-top: 100px;
		padding-bottom: 80px;
	}

	.responsive__title b {
		font-size: 56px;
	}

	.responsive__title span {
		margin-top: -38px;

		font-size: 26px;
	}
}

@media ($mobile-widths) {
	.responsive {
		background: url(../img/general/responsive-1.png) no-repeat 16% 0,url(../img/general/responsive-2.png) no-repeat 100% 100%;
    background-size: 20%,50%;
	}

	.responsive__title b {
		display: none;
	}

	.responsive__title span {
		margin-top: 0;

		font-size: 30px;
	}

	.responsive__description {
		margin-top: 35px;
		margin-bottom: 35px;

		font-size: 18px;
	}
}