.whoweare {
	background-color: #ccc;
	background: url(../img/general/whoweare.png) no-repeat; 
}

.whoweare__wrapper {
	@include container-fluid();

	padding-top: 160px;
	padding-bottom: 135px;
}

.whoweare__logo {
	display: block;

	margin: 0 auto;
	margin-bottom: 45px;

	text-align: center;

	cursor: pointer;
}

.whoweare__logo img {
	width: 186px;
	height: 36px;
}

.whoweare__title {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;

	font-family: "MontserratBold", Arial, sans-serif;
	font-size: 44px;
	text-align: center;
	line-height: 1.25;
	color: #FDFDFD;
}

.whoweare__description {
	max-width: 750px;

	margin: 0 auto;
	margin-bottom: 65px;
	padding: 0;

	font-family: "LatoRegular", Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	line-height: 1.6;
	color: #FDFDFD;
}

.whoweare__container--center {
	text-align: center;
}

.whoweare__btn {
	display: inline-block;
	vertical-align: top;
	width: 225px;

	margin-right: 21px;

	font-family: "MontserratRegular", Arial, sans-serif;
	font-size: 18px;
	text-transform: none;
	line-height: 1.4;
	color: #FDFDFD;

	background-color: inherit;
	border: 1px solid #FDFDFD;

	&:last-child {
		margin-right: 0;
	}

	&:hover {
		color: rgba(255, 255, 255, 0.7);

		border: 1px solid rgba(255, 255, 255, 0.7);
	}

	&:active {
		color: rgba(255, 255, 255, 0.5);

		border: 1px solid rgba(255, 255, 255, 0.5);
	}
}

.whoweare__btn--active {
	color: #000;

	background-color: #FFE400;
	border: 1px solid #FFE400;

	&:hover {
		color: rgba(0, 0, 0, 0.5);

		border: 1px solid #FFE400;
	}

	&:active {
		color: #aaa;
		
		background-color: rgba(255, 228, 0, 0.9);
		border: 1px solid rgba(255, 228, 0, 0.5);
	}
}

@media ("max-width: 1024px") {
	.whoweare__wrapper {
		padding-top: 85px;
		padding-bottom: 100px;
	}
}

@media ($tablet-widths) {
	.whoweare {
		background-size: cover;
	}

	.whoweare__description {
		padding-left: 20px;
		padding-right: 20px;

		font-size: 18px;
	}
}

@media ("max-width: 480px") {
	.whoweare__container--center {
		display: flex;
    flex-direction: column;
    
    align-items: center;
	}

	.whoweare__description {
		margin-bottom: 55px;
	}

	.whoweare__btn {
		margin-right: 0;
		margin-bottom: 20px;
	}
}

@media ($mobile-widths) {
	.whoweare__wrapper {
		padding-top: 40px;
		padding-bottom: 60px;
	}

	.whoweare__logo {
		margin-bottom: 35px;
	}

	.whoweare__logo img {
		width: 160px;
		height: auto;
	}

	.whoweare__title {
		font-size: 38px;
	}
}